.container {
    height: calc(100% - 140px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    font-size: 45px;
    color: rgb(58, 63, 114);
    border-radius: 20%;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

input {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button.botonRegistrar {
    text-decoration: none;
    top: 50px;
    right: 20px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 27px;
    border: none;
    font-size: 20px;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

.botonRegistrar {
    background-color: rgb(58, 63, 114);
}

.btn:hover {
    background-color: rgb(197, 40, 40);
    transition: 0.5s;
}

.final {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}