.container {
    height: calc(100% );
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

form {
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

select{

    display: flex;
    align-items: center;
    justify-content: safe;


    color: rgb(95, 95, 95);
    margin-top: 10px;
    margin-bottom: 25px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0em 5em 0em 1.5em;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);

}



h2{
    position: relative;
    color: rgb(95, 95, 95);
    margin-bottom: -10px;
    font-size: 17px;
    right: -15px;

}

.icon {
    font-size: 45px;
    color: rgb(58, 63, 114);
    
    border-radius: 20%;

    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}


button.botonRegistrar {
    text-decoration: none;
    top: 50px;
    right: 20px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 27px;
    border: none;
    font-size: 20px;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

.botonRegistrar {
    background-color: rgb(58, 63, 114);
}

.btn:hover {
    background-color: rgb(197, 40, 40);
    transition: 0.5s;
}


.final{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

/* .dropdown {
    width: 80%;
    position: relative;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    padding: 0.5rem;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    -webkit-box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
    box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.42);
}

.dropdown-list {
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hiden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list__item {
    padding: 0.5rem;
    font-size: 15px;
} */