<app-navbar [texto]="'Administración'" [backButton]="true"></app-navbar>

<div class="container-phater">

    <div class="container1">

        <div class="big-box">
            <h2>Usuarios</h2>

            <div class="box">
                <button>
                    <i class=" icon fas fa-user-circle"></i>
                </button>

            </div>
        </div>

        <div class="big-box2">
            <h2>Equipo</h2>

            <div class="box2">
                <button>
                    <i class="icon2 fas fa-laptop"></i>
                </button>


            </div>
        </div>


    </div>

    <div class="container2">

        <div class="big-box3">
            <h2>Buscar</h2>

            <div class="box3">
                <button>
                    <i class="icon3 fas fa-search"></i>
                </button>

            </div>
        </div>

        <div class="big-box4">
            <h2>Historial</h2>

            <div class="box4">
                <button>
                    <i class="icon4 fas fa-history"></i>
                </button>

            </div>
        </div>


    </div>



</div>