<app-navbar [texto]="'Consultar equipo'" [backButton]="true"></app-navbar> 

<div class="container">

    <form action="">
        <h2>Sucursal</h2>
        <select name="" id="">
            <option value="">Colonial 1</option>
            <option value="">Colonial 2</option>
            <option value="">Colonial 3</option>
            <option value="">Colonial 4</option>
        </select>
        <h2>Departamento</h2>
        <select name="" id="">
            <option value="">Gerencia</option>
            <option value="">Contabilidad</option>
            <option value="">Compras</option>
            <option value="">Cocina</option>
        </select>
        <h2>Numero de registro</h2>
        <input type="text" name="" placeholder="">

        
        
    </form>

    <button href="" class="botonRegistrar">Buscar</button>
    <div class="container2">
       
       <h3>Resultados:</h3>
          
    </div>

</div>